@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
  
body {
    height: 100%;
  }


.box2 {
    width: 450px; /* 正方形の横幅 */
    height: 220px;/* 正方形の高さ */
  }
.box2 img{
  border-radius: 0%;
  width: 100%;  /* 表示したい範囲(100%) */
  height: 100%; /* 表示したい範囲(100%) */
  object-fit: cover; /* 画像をトリミング */
  }

#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
   
img {
       border-radius: 50%; /* 角丸半径を50%にする(=円形にする) */
        width: 180px; /* ※縦横を同値に */
        height: 180px;/* ※縦横を同値に */
}

.box3 {
    width: 100px; /* 正方形の横幅 */
    height: 100px;/* 正方形の高さ */
  }
.box3 img{
  border-radius: 0%;
  width: 100%;  /* 表示したい範囲(100%) */
  height: 100%; /* 表示したい範囲(100%) */
  object-fit: cover; /* 画像をトリミング */
  }
  
  /* Header */
header {
    background: #ffffff;
}

header h1 {
    text-align: center;
    padding: 1rem;
}
  
  nav ul {
    padding-bottom: 1rem;
    margin: 0;
    text-align: center;
}
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
}
  
  nav ul li a {
    font-weight: bold;
    color: #323232;
    background-color: #ffffff;
}

/* Main */
main {
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
   }


section {
  background: #FFF;
  padding: 20px;
}

.sec01 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.sec02 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.sec03 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}


.container{
    /*  display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


 
 /* 
  .column-img {
    flex: 1;
}
  
  .column-text {
    flex: 2;
}
/* 


/* Footer*/

ul {
    padding: 0;
    
    li {
      display: flex;
      justify-content: flex-start;
      list-style: none;
      margin-bottom: 8px;
      background-color: #eee;
      
  
      .thumbnail {
        flex: 0 0 80px;
        align-self: start;
      }
  
      .text {
        flex: 1 1 auto;
        padding: 5px 10px;
        align-self: center;
        margin-bottom: 20px;
      }
    }
  }
footer {
  background: #fffcfc;
  color: #FFF;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  a.pagetop {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #666;
    color: #FFF;
    position: fixed;
    bottom: 0;
    right: 20px;
  }

